<head>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<link rel="stylesheet"  href="../main.css">
</head>
<body class="errorBody centered">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    <b class="not-found-error">404</b> Not Found</h2>
                <div class="error-details">
                    Lo lamentamos, ha ocurrido un error. La pagina solicitada no fue encontrada!
                </div>
                <div class="error-actions">
                    <a href="/home" class="btn btn-primary btn-lg btn-home"><span class="glyphicon glyphicon-home"></span>
                        Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p class="text-center">
      &copy; 2017 Donde-Invierto.com
    </p>
</footer>
</body>
