{{#partial "contenido"}}

<h1 style="font-family:verdana;">Metodologias</h1>
<br>

<table class="table table-hover sortable">
 <thead class="thead-default">
	<tr>
		<th></th>
		<th></th>		
		<th>Elegir metodologia<i class="fa fa-fw fa-sort"></i></th>
		<th></th>
		<th></th>
	</tr>
 </thead>
	
	{{#each metodologias}}
		<tr>
			<td width="10%"><td>
			<td width="60%">{{nombre}}</td>
			<td><a href="/metodologias/{{id}}">Evaluar</a><td>
		</tr>
	{{/each}}
</table>
{{/partial}}

{{>layout.hbs}}
