{{#partial "error-msg"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br></br>
<div class="alert alert-danger alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{mensajeError}}.</strong> No se pudo crear el indicador <i>{{formulaIndicador}}</i>
  </div>

{{/partial}}
{{>indicadores/crearIndicador.hbs}}