{{#partial "contenido"}}
<h2 style="font-family:verdana;">Crear Indicador</h2>
<br>

<div class="jumbotron">
  
  <form action="" method="post">
  <div>
  <label>
  	Ingrese la Formula:
  </label>
  <input name="indicador"/>
  </div>
  
  <div>
  	<br>
	<small><i>*Ejemplo: MIINDICADOR = ebitda + fds * 2 - INGRESONETO</i></small>
  </div>
  
	<div class="error-msg">
		{{#block "error-msg"}}
		{{/block}}
	</div>
  
    <button name="crearIndicador" value="crearIndicador" class="btn btn-primary btn-lg" style="float: right;">Crear</button>
  
  </form>
  
</div>


{{/partial}}

{{>layout.hbs}}
